
.main-container {
  padding: 10px 15px;
}
.img1{
	background-image:url("images/1.jpg");
    background-repeat:no-repeat;
    background-size: 100% 100%;
}
.img2 {
	background-image:url("images/bgg1.jpg");
     background-repeat:no-repeat;
    background-size: 100% 100%;
}
.img3 {
	background-image:url("images/bgg2.jpg");
     background-repeat:no-repeat;
    background-size: 100% 100%;
}
.carousel-indicators {
	bottom: 0;
}
.carousel-control.right,
.carousel-control.left {
	background-image: none;
}
.carousel .item {
	min-height: 350px; 
	height: 100%;
	width:100%; 
}
.carousel-caption h3,
.carousel .icon-container,
.carousel-caption button {
	background-color: #09c;
}
.carousel-caption h3 {
	padding: .5em;
}
.carousel .icon-container {
	display: inline-block;
	font-size: 25px;
	line-height: 25px;
	padding: 1em;
	text-align: center;
	border-radius: 50%;
}
.carousel-caption button {
	border-color: #00bfff;
	margin-top: 1em; 
}

/* Animation delays */
.carousel-caption h3:first-child {
	animation-delay: 1s;
}
.carousel-caption h3:nth-child(2) {
	animation-delay: 2s;
}
.carousel-caption button {
	animation-delay: 3s;
}

h1 {
  text-align: center;  
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: bold;
}

